<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodeLib" version="2.4.0" targetFramework="net461" />
  <package id="CircularProgressBar" version="2.8.0.16" targetFramework="net461" />
  <package id="itext7" version="7.2.2" targetFramework="net461" />
  <package id="itext7.commons" version="7.2.2" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1449.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net45" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net461" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net461" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net461" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net461" />
</packages>